*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/bg-img.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 60px 20px 0px;
}
.nav-bar .title{
    color: #fff;
    font-size: 67px;
    font-weight: 600;
    padding-left: 0px;
    padding-right: 0px;
}
.main{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding-right: 200px;
}
.nav-bar p{
    /* margin-top: 100px;
    margin-left: 50px; */
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu li a{
    /* text-decoration: none; */
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-left: 25px;
}
.menu li a:hover{
    color: crimson;
    padding: 10px 20px;
    border: 2px solid #fff;
}
span{
    color: crimson;
}
.box{
    display: flex;
    flex-direction: row;
    padding: 60px;
    padding-left: 80px;
}
.timing{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 50%;
}
.timing h1{
    padding-bottom: 20px;
    padding-left: 20px;
}
.timing h3{
    padding: 20px;
}
.icons{
    float: right;
    /* line-height: 100px; */
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 50%;
}
.col{
    display: flex;
    flex-direction: row;
}
.icon-symbol{
    display: flex;
    flex-direction: column;
}
.icon-p p{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    padding: 30px 0px;
}
.fa-solid{
    font-size: 40px;
    padding: 20px;
}
.social-media{
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
}
.fa-brands{
    padding: 20px;
    font-size: 30px;
}